{% extends 'index.html'%}
{% block content %}
    <div class="container">
    <div class="page-header">
        <h1>Add</h1>

<form method="POST">

    {{ form.csrf_token }}
    {{ form.title.label }}{{ form.title }}<br>
    {{ form.instructor.label }}{{ form.instructor }}<br>
    {{ form.university.label }}{{ form.university }}
    {{ form.submit }}

     {#  显示消息闪现的内容  #}
    {% for message in get_flashed_messages() %}
        {{ message }}<br>
    {% endfor %}

</form>

<ul>
    {% for university in universities %}
        <li>{{ university.name }}</li>
        <ul>
            {% for course in university.courses %}
            <li>Course: {{ course.title }}</li><a href="{{ url_for('delete_course',course_id=course.id) }}">Delete</a></li>
            {% else %}
                <li>No course, please add a course</li>
            {% endfor %}
        </ul>
        <ul>
            {% for instructor in university.instructors %}
            <li>Instructor: {{ instructor.name }}</li><a href="{{ url_for('delete_instructor',instructor_id=instructor.id) }}">Delete</a></li>
            {% else %}
                <li>No instructor, please add an instructor</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %}