{% extends 'index.html'%}
{% block content %}
    <div class="container">
    <div class="page-header">
        <h1>Add Course</h1>

<form method="POST">

    {{ form.csrf_token }}
    {{ form.title.label }}{{ form.title }}<br>
    {{ form.instructor.label }}{{ form.instructor }}<br>
    {{ form.university.label }}{{ form.university }}
    {{ form.submit }}

     {#  显示消息闪现的内容  #}
    {% for message in get_flashed_messages() %}
        {{ message }}<br>
    {% endfor %}

</form>
    </div>
    </div>
{% endblock %}
