{% extends "base.html" %}
{% block title %}Flask Application{% endblock %}
{%block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flask Application</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add University</a> </li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="page-header">
        <h1>Find what you want!</h1>
<ul>
    {% for university in universities %}
        <li><h4><a href="{{ url_for("university",id=university.id)}}">{{ university.name }}</a></h4>
       |  <a href="{{ url_for('delete_university', university_id= university.id)}}">Delete</a></li>


    {% endfor %}
</ul>

{% endblock %}
